  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<%- include("partials/header"); -%>

<!-- <h1 class="heading">Welcome to caretakerDetails</h1> -->

<div class="row">

<% contacts.forEach(function(contact){%>
  <div class="card-wrapper py-0">
  <!-- <div class="col-sm-4"> style="width: 15rem;" -->
    <div class="card" >
      <a href="/contacts/<%=contact.id%>" class="btn-custom" style="text-decoration:none">

      <img src="/uploads/<%=contact.imgURL%>" class="circle-img" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%=contact.name%></h5>
        <p class="card-text"><%= contact.timeShift%></p>
        <p class="card-text"><%=contact.salary%></p>
        <p class="card-text"><%=contact.note%></p>
      </div>
    </div>
  <!-- </div> -->
  </div>
<%})%>

</div>
